.test-box {
  border-left: 4px solid red;
  border-right: 4px solid red;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-bottom-color: blue;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: purple;
}
.sidebar {
  width: 35%;
  float: right;
  background-color: yellow
} 
