.test-box {
  border-left: 4px solid red;
  border-right: 4px solid red;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-bottom-color: blue;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: violet;
}
.ss {
  text-shadow: red 2px 5px;
  color: black;
  text-decoration-style: wavy;
  text-overflow: ellipsis;
}
.sidebar {
  width: 35%;
  float: right;
  background-color: yellow
}
.cc {
  font-style: italic;
  font-weight: 200;
  font-variant: small-caps;
  font-stretch: semi-condensed;
  font-kerning: normal;
}
.ke {
  text-decoration: underline;
  color: red;
}
.background {
  font-style: italic;
  color: red;
  font-family: cursive;
  text-align: center;
  text-shadow: black 2px 5px;
}
.me {
  font-style: oblique;
  color: blue;
  font-family: sans-serif;
}
.decs {
  font-style: italic;
  color: green;
  font-family: fantasy;
}
.important {
  line-height: normal;
  font-style: italic;
  color: pink;
}
